.easyPosition(@top, @left, @bgcolor) {
    position: absolute;
    display: block;
    top: @top;
    left: @left;
    background-color: @bgcolor;
}
.easyBoxSize(@width, @height) {
    width: @width;
    height: @height;
}
.easyRadius(@radius) {
    border-radius: @radius;
}
#easy-popup {

    .easyPosition(100px,100px,#2aa198);
}
#easy-content {

}
